
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 100px;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#name_contact, #message_contact, #email_contact {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.about_button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.about_button:hover {
    background-color: #218838;
}


.modal.night-mode .modal-content {
    background-color: #222; /* Dark background color for the modal content */
    color: #ddd; /* Light text color for the modal content */
}

.modal.night-mode .close {
    color: #ddd; /* Light text color for the close button */
}

.modal.night-mode .close:hover,
.modal.night-mode .close:focus {
    color: #fff; /* White text color for the close button on hover */
}

#contactForm.night-mode {
    background-color: #222; /* Dark background color for the contact form */
    color: #ddd; /* Light text color for the contact form */
}

#contactForm.night-mode input,
#contactForm.night-mode textarea {
    background-color: #333; /* Dark background color for the contact form inputs and textarea */
    color: #ddd; /* Light text color for the contact form inputs and textarea */
    border: 1px solid #444; /* Dark border color for the contact form inputs and textarea */
}

.about_button.night-mode {
    background-color: #444; /* Dark background color for the about button */
    color: #ddd; /* Light text color for the about button */
}

.about_button.night-mode:hover {
    background-color: #555; /* Slightly darker background color for the about button on hover */
}