.secret-button {
    margin-top: 20px;
}

.secret-button button {
    background-color: #f0f2f5;
    color: #666;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.secret-button button:hover {
    background-color: #abb4c5;
    transform: scale(1.05);
}

/* Стиль для Санта-Клауса */
#santa {
    position: fixed; /* Фиксированная позиция на экране */
    top: 300px; /* Расположен ниже на экране */
    left: -200px; /* Начальная позиция за экраном */
    width: 300px; /* Размер Санты */
    z-index: 9999; /* Выводим Санту поверх всех элементов */
    transition: left 8s linear; /* Плавное перемещение */
}